
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
.service-card{
	height:auto; 
	border-radius: 25% 10%; 
	overflow:hidden;
  
}
.service-layout{
  margin:auto ;
  width: 53vh;
  height: auto;
}
.about img{
  border-radius: 25% 10%;
}